.hand-navbar {
  text-align: center;
  background-color: #ffd700 !important;
}

.nav-fa-icon {
  margin-top: 7px !important;
}

.nav-img-icon {
  border-radius: 50%;
	margin-top: 4px;
  margin-left: 8px;
  max-width: 40px;
  max-height: 40px;
}
